[submodule "octo"]
	path = octo
	url = https://github.com/FlorianSp2000/octo.git
	branch = main
[submodule "SimplerEnv"]
	path = SimplerEnv
	url = https://github.com/FlorianSp2000/SimplerEnv.git
	branch = main
